{% extends "base.html" %}
{% block title %}
Добавление заказчика
{% endblock %}
{% block style %}
{% include "style.html" %}
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block body %}
<div>
    <li>
        <a href="/customer-list/">Список заказчиков</a>
    </li>
    <li>
        <a href="/create-customer/">Создать заказчика</a>
    </li>
</div>
<h1>Добавление заказчика на работу</h1>
<form method="post">
    <select size="3" name="work_name">
        {% for item in works %}
        <option value="{{item.name}}">{{item.name}}</option>
        {% endfor %}
    </select>
    <select size="3" name="customer_name">
        {% for item in customers %}
        <option value="{{item.name}}">{{item.name}}</option>
        {% endfor %}
    </select>
    <button type="submit">Записать</button>
</form>
{% endblock %}