<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    {% block style %}{% endblock %}
</head>

<body>
    <div id="main">
        {% block header %} {% endblock %}
        {% block body %} {% endblock %}
    </div>
</body>

</html>